<div class="container mx-auto">

  <div class="w-full">
    <table class="table-auto w-full">
      <thead>
        <tr class="bg-blue-600 text-white">
          <th>Nombre usuario</th>
          <th>Fecha Nacimiento</th>
          <th>Edad</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let user of data " class="border-b-2 border-blue-400">
          <td>{{ user.name }}</td>
          <td>{{ user.fecha_nacimiento }}</td>
          <td>{{ user.edad }}</td>
          <td>{{ user.domicilio }} {{ user.domicilio_exterior }} CP:{{ user.cp }}, Colonia: {{ user.colonia }}, Ciudad: {{ user.ciudad }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
